@using LinhKienDienTu.Web.Startup
@{
    //ViewBag.CurrentPageName = PageNames.About;
    //ViewBag.Title = L("About");
}

<!-- breadcrumb -->
<div class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="mt-2" style="-bs-breadcrumb-divider: '&gt;&gt;';"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Trang chủ</li>
                    <li class="breadcrumb-item active text-primary" aria-current="page" id="cate-breadcrumb">Danh mục</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<!-- Chuyên mục sản phẩm -->
<div class="search">
    <div class="container">

        <div class="row">
            <div class="my-3">
                <h1 class="fs-4 text-uppercase page-title"></h1>
            </div>
        </div>

        <div class="row mt-4" id="cate-items">
        </div>

    </div>
</div>

<!-- end chuyên mục sản phẩm -->


