@using LinhKienDienTu.Web.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header bg-info py-2">    
    <h5 class="modal-title"><i class="fas fa-pencil-alt"></i> @Html.Raw(Model.Title)</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
